In [2]:
pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
      --------------------------------------- 0.3/11.9 MB ? eta -:--:--
     ----- ---------------------------------- 1.6/11.9 MB 5.4 MB/s eta 0:00:02
     --------- ------------------------------ 2.9/11.9 MB 5.7 MB/s eta 0:00:02
     --------------- ------------------------ 4.5/11.9 MB 6.3 MB/s eta 0:00:02
     ---------------------- ----------------- 6.6/11.9 MB 7.1 MB/s eta 0:00:01
     ----------------------------- ---------- 8.7/11.9 MB 7.7 MB/s eta 0:00:01
     -------------------------------------- - 11.3/11.9 MB 8.4 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 7.8 MB/s  0:00:01
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (pyproject.toml): started
  Building wheel for mysql.connector (pyproject.toml): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp313-cp313-win_amd64.whl size=248050 sha256=76cf0907793ab378c0c7701c67bfb6d3a0933713d0befc2c9046c9e0f1211616
  Stored in directory: c:\users\engrf\appdata\local\pip\cache\wheels\4e\c1\23\9423c444a75266a05275c80ebf5c6efe2368388e976b690a0f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

In [15]:
import mysql.connector

In [16]:
mysql.connector.connect(host='localhost', user ='root', password ='Farhan74@', database='world')

NotSupportedError: Authentication plugin 'caching_sha2_password' is not supported

In [20]:
pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2
Note: you may need to restart the kernel to use updated packages.

In [29]:
import pandas as pd

In [25]:
import pymysql

In [27]:
conn = pymysql.connect(host='localhost', user ='root', password ='Farhan74@', database='world')

In [30]:
pd.read_sql_query("select * From city " , conn )

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\2078240235.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * From city " , conn )

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [34]:
pd.read_sql_query("select * From city Where CountryCode = 'IND' " , conn )

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\436158892.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * From city Where CountryCode = 'IND' " , conn )

       ID                Name CountryCode        District  Population
0    1024     Mumbai (Bombay)         IND     Maharashtra    10500000
1    1025               Delhi         IND           Delhi     7206704
2    1026  Calcutta [Kolkata]         IND    West Bengali     4399819
3    1027    Chennai (Madras)         IND      Tamil Nadu     3841396
4    1028           Hyderabad         IND  Andhra Pradesh     2964638
..    ...                 ...         ...             ...         ...
336  1360        Ambala Sadar         IND         Haryana       90712
337  1361          Baidyabati         IND    West Bengali       90601
338  1362               Morvi         IND         Gujarat       90357
339  1363             Raigarh         IND     Chhatisgarh       89166
340  1364            Vejalpur         IND         Gujarat       89053

[341 rows x 5 columns]

In [35]:
pd.read_sql_query("select * From city Where CountryCode = 'AFG' " , conn )

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\165758902.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * From city Where CountryCode = 'AFG' " , conn )

   ID            Name CountryCode  District  Population
0   1           Kabul         AFG     Kabol     1780000
1   2        Qandahar         AFG  Qandahar      237500
2   3           Herat         AFG     Herat      186800
3   4  Mazar-e-Sharif         AFG     Balkh      127800

In [37]:
pd.read_sql_query("select * From city Where Population <= '15000' " , conn )

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\2166673833.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * From city Where Population <= '15000' " , conn )

      ID                Name CountryCode              District  Population
0     33          Willemstad         ANT               Curaçao        2345
1     53              Tafuna         ASM               Tutuila        5200
2     54            Fagatogo         ASM               Tutuila        2323
3     61          South Hill         AIA                     –         961
4     62          The Valley         AIA                     –         595
5    174          Bridgetown         BRB            St Michael        6070
6    185            Belmopan         BLZ                  Cayo        7105
7    190        Saint George         BMU        Saint George´s        1800
8    191            Hamilton         BMU              Hamilton        1200
9    537           Road Town         VGB               Tortola        8000
10   583              Avarua         COK             Rarotonga       11900
11   763             Stanley         FLK         East Falkland        1636
12   901            Tórshavn         FRO            Streymoyar       14542
13   916      Saint George´s         GRD             St George        4621
14   917                Nuuk         GRL                 Kitaa       13445
15   919         Basse-Terre         GLP           Basse-Terre       12433
16   920            Tamuning         GUM                     –        9500
17   921               Agaña         GUM                     –        1139
18   938        Longyearbyen         SJM              Länsimaa        1438
19  1791    Flying Fish Cove         CXR                     –         700
20  2255           Bikenibeu         KIR          South Tarawa        5055
21  2256             Bairiki         KIR          South Tarawa        2226
22  2316              Bantam         CCK           Home Island         503
23  2317         West Island         CCK           West Island         167
24  2445              Schaan         LIE                Schaan        5346
25  2446               Vaduz         LIE                 Vaduz        5043
26  2484            Valletta         MLT         Inner Harbour        7073
27  2514           Mamoutzou         MYT             Mamoutzou       12000
28  2689             Palikir         FSM               Pohnpei        8600
29  2694         Monte-Carlo         MCO                     –       13154
30  2695        Monaco-Ville         MCO                     –        1234
31  2697            Plymouth         MSR              Plymouth        2000
32  2727              Yangor         NRU                     –        4050
33  2728               Yaren         NRU                     –         559
34  2805               Alofi         NIU                     –         682
35  2806            Kingston         NFK                     –         800
36  2881               Koror         PLW                 Koror       12000
37  2912           Adamstown         PCN                     –          42
38  2913             Garapan         MNP                Saipan        9200
39  3063           Jamestown         SHN          Saint Helena        1500
40  3064          Basseterre         KNA  St George Basseterre       11600
41  3065            Castries         LCA              Castries        2301
42  3067        Saint-Pierre         SPM          Saint-Pierre        5808
43  3170          Serravalle         SMR     Serravalle/Dogano        4802
44  3171          San Marino         SMR            San Marino        2294
45  3333             Fakaofo         TKL               Fakaofo         300
46  3423       Cockburn Town         TCA            Grand Turk        4800
47  3424            Funafuti         TUV              Funafuti        4600
48  3536            Mata-Utu         WLF                Wallis        1137
49  3538  Città del Vaticano         VAT                     –         455
50  4067    Charlotte Amalie         VIR             St Thomas       13000

In [38]:
pd.read_sql_query("select * from city " , conn )

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\2539801587.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * from city " , conn )

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [39]:
pd.read_sql_query("select * from city  where ID <= 5 " , conn )

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\4217226320.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * from city  where ID <= 5 " , conn )

   ID            Name CountryCode       District  Population
0   1           Kabul         AFG          Kabol     1780000
1   2        Qandahar         AFG       Qandahar      237500
2   3           Herat         AFG          Herat      186800
3   4  Mazar-e-Sharif         AFG          Balkh      127800
4   5       Amsterdam         NLD  Noord-Holland      731200

In [40]:
pd.read_sql_query("select * from country " , conn )

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\511549445.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * from country " , conn )

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,José Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34.0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav Koštunica,1792.0,YU
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

In [41]:
pd.read_sql_query("select * from country where Continent != 'Asia' " , conn )

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\690725058.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * from country where Continent != 'Asia' " , conn )

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,José Eduardo dos Santos,56.0,AO
2,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
3,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34.0,AL
4,AND,Andorra,Europe,Southern Europe,468.0,1278.0,78000,83.5,1630.0,NaN,Andorra,Parliamentary Coprincipality,,55.0,AD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,WSM,Samoa,Oceania,Polynesia,2831.0,1962.0,180000,69.2,141.0,157.0,Samoa,Parlementary Monarchy,Malietoa Tanumafili II,3169.0,WS
184,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav Koštunica,1792.0,YU
185,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
186,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
187,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

In [42]:
pd.read_sql_query("select * from country where Continent = 'Asia' " , conn )

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\3364923950.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * from country where Continent = 'Asia' " , conn )

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1,AF
1,ARE,United Arab Emirates,Asia,Middle East,83600.0,1971.0,2441000,74.1,37966.0,36846.0,Al-Imarat al-´Arabiya al-Muttahida,Emirate Federation,Zayid bin Sultan al-Nahayan,65,AE
2,ARM,Armenia,Asia,Middle East,29800.0,1991.0,3520000,66.4,1813.0,1627.0,Hajastan,Republic,Robert Kotšarjan,126,AM
3,AZE,Azerbaijan,Asia,Middle East,86600.0,1991.0,7734000,62.9,4127.0,4100.0,Azärbaycan,Federal Republic,Heydär Äliyev,144,AZ
4,BGD,Bangladesh,Asia,Southern and Central Asia,143998.0,1971.0,129155000,60.2,32852.0,31966.0,Bangladesh,Republic,Shahabuddin Ahmad,150,BD
5,BHR,Bahrain,Asia,Middle East,694.0,1971.0,617000,73.0,6366.0,6097.0,Al-Bahrayn,Monarchy (Emirate),Hamad ibn Isa al-Khalifa,149,BH
6,BRN,Brunei,Asia,Southeast Asia,5765.0,1984.0,328000,73.6,11705.0,12460.0,Brunei Darussalam,Monarchy (Sultanate),Haji Hassan al-Bolkiah,538,BN
7,BTN,Bhutan,Asia,Southern and Central Asia,47000.0,1910.0,2124000,52.4,372.0,383.0,Druk-Yul,Monarchy,Jigme Singye Wangchuk,192,BT
8,CHN,China,Asia,Eastern Asia,9572900.0,-1523.0,1277558000,71.4,982268.0,917719.0,Zhongquo,People'sRepublic,Jiang Zemin,1891,CN
9,CYP,Cyprus,Asia,Middle East,9251.0,1960.0,754700,76.7,9333.0,8246.0,Kýpros/Kibris,Republic,Glafkos Klerides,2430,CY
10,GEO,Georgia,Asia,Middle East,69700.0,1991.0,4968000,64.5,6064.0,5924.0,Sakartvelo,Republic,Eduard Ševardnadze,905,GE
11,HKG,Hong Kong,Asia,Eastern Asia,1075.0,NaN,6782000,79.5,166448.0,173610.0,Xianggang/Hong Kong,Special Administrative Region of China,Jiang Zemin,937,HK
12,IDN,Indonesia,Asia,Southeast Asia,1904569.0,1945.0,212107000,68.0,84982.0,215002.0,Indonesia,Republic,Abdurrahman Wahid,939,ID
13,IND,India,Asia,Southern and Central Asia,3287263.0,1947.0,1013662000,62.5,447114.0,430572.0,Bharat/India,Federal Republic,Kocheril Raman Narayanan,1109,IN
14,IRN,Iran,Asia,Southern and Central Asia,1648195.0,1906.0,67702000,69.7,195746.0,160151.0,Iran,Islamic Republic,Ali Mohammad Khatami-Ardakani,1380,IR
15,IRQ,Iraq,Asia,Middle East,438317.0,1932.0,23115000,66.5,11500.0,NaN,Al-´Iraq,Republic,Saddam Hussein al-Takriti,1365,IQ
16,ISR,Israel,Asia,Middle East,21056.0,1948.0,6217000,78.6,97477.0,98577.0,Yisra’el/Isra’il,Republic,Moshe Katzav,1450,IL
17,JOR,Jordan,Asia,Middle East,88946.0,1946.0,5083000,77.4,7526.0,7051.0,Al-Urdunn,Constitutional Monarchy,Abdullah II,1786,JO
18,JPN,Japan,Asia,Eastern Asia,377829.0,-660.0,126714000,80.7,3787042.0,4192638.0,Nihon/Nippon,Constitutional Monarchy,Akihito,1532,JP
19,KAZ,Kazakstan,Asia,Southern and Central Asia,2724900.0,1991.0,16223000,63.2,24375.0,23383.0,Qazaqstan,Republic,Nursultan Nazarbajev,1864,KZ
20,KGZ,Kyrgyzstan,Asia,Southern and Central Asia,199900.0,1991.0,4699000,63.4,1626.0,1767.0,Kyrgyzstan,Republic,Askar Akajev,2253,KG
21,KHM,Cambodia,Asia,Southeast Asia,181035.0,1953.0,11168000,56.5,5121.0,5670.0,Kâmpuchéa,Constitutional Monarchy,Norodom Sihanouk,1800,KH
22,KOR,South Korea,Asia,Eastern Asia,99434.0,1948.0,46844000,74.4,320749.0,442544.0,Taehan Min’guk (Namhan),Republic,Kim Dae-jung,2331,KR
23,KWT,Kuwait,Asia,Middle East,17818.0,1961.0,1972000,76.1,27037.0,30373.0,Al-Kuwayt,Constitutional Monarchy (Emirate),Jabir al-Ahmad al-Jabir al-Sabah,2429,KW
24,LAO,Laos,Asia,Southeast Asia,236800.0,1953.0,5433000,53.1,1292.0,1746.0,Lao,Republic,Khamtay Siphandone,2432,LA
25,LBN,Lebanon,Asia,Middle East,10400.0,1941.0,3282000,71.3,17121.0,15129.0,Lubnan,Republic,Émile Lahoud,2438,LB
26,LKA,Sri Lanka,Asia,Southern and Central Asia,65610.0,1948.0,18827000,71.8,15706.0,15091.0,Sri Lanka/Ilankai,Republic,Chandrika Kumaratunga,3217,LK
27,MAC,Macao,Asia,Eastern Asia,18.0,NaN,473000,81.6,5749.0,5940.0,Macau/Aomen,Special Administrative Region of China,Jiang Zemin,2454,MO
28,MDV,Maldives,Asia,Southern and Central Asia,298.0,1965.0,286000,62.2,199.0,NaN,Dhivehi Raajje/Maldives,Republic,Maumoon Abdul Gayoom,2463,MV
29,MMR,Myanmar,Asia,Southeast Asia,676578.0,1948.0,45611000,54.9,180375.0,171028.0,Myanma Pye,Republic,kenraali Than Shwe,2710,MM
30,MNG,Mongolia,Asia,Eastern Asia,1566500.0,1921.0,2662000,67.3,1043.0,933.0,Mongol Uls,Republic,Natsagiin Bagabandi,2696,MN
31,MYS,Malaysia,Asia,Southeast Asia,329758.0,1957.0,22244000,70.8,69213.0,97884.0,Malaysia,"Constitutional Monarchy, Federation",Salahuddin Abdul Aziz Shah Alhaj,2464,MY
32,NPL,Nepal,Asia,Southern and Central Asia,147181.0,1769.0,23930000,57.8,4768.0,4837.0,Nepal,Constitutional Monarchy,Gyanendra Bir Bikram,2729,NP
33,OMN,Oman,Asia,Middle East,309500.0,1951.0,2542000,71.8,16904.0,16153.0,´Uman,Monarchy (Sultanate),Qabus ibn Sa´id,2821,OM
34,PAK,Pakistan,Asia,Southern and Central Asia,796095.0,1947.0,156483000,61.1,61289.0,58549.0,Pakistan,Republic,Mohammad Rafiq Tarar,2831,PK
35,PHL,Philippines,Asia,Southeast Asia,300000.0,1946.0,75967000,67.5,65107.0,82239.0,Pilipinas,Republic,Gloria Macapagal-Arroyo,766,PH
36,PRK,North Korea,Asia,Eastern Asia,120538.0,1948.0,24039000,70.7,5332.0,NaN,Choson Minjujuui In´min Konghwaguk (Bukhan),Socialistic Republic,Kim Jong-il,2318,KP
37,PSE,Palestine,Asia,Middle East,6257.0,NaN,3101000,71.4,4173.0,NaN,Filastin,Autonomous Area,Yasser (Yasir) Arafat,4074,PS
38,QAT,Qatar,Asia,Middle East,11000.0,1971.0,599000,72.4,9472.0,8920.0,Qatar,Monarchy,Hamad ibn Khalifa al-Thani,2973,QA
39,SAU,Saudi Arabia,Asia,Middle East,2149690.0,1932.0,21607000,67.8,137635.0,146171.0,Al-´Arabiya as-Sa´udiya,Monarchy,Fahd ibn Abdul-Aziz al-Sa´ud,3173,SA
40,SGP,Singapore,Asia,Southeast Asia,618.0,1965.0,3567000,80.1,86503.0,96318.0,Singapore/Singapura/Xinjiapo/Singapur,Republic,Sellapan Rama Nathan,3208,SG
41,SYR,Syria,Asia,Middle East,185180.0,1941.0,16125000,68.5,65984.0,64926.0,Suriya,Republic,Bashar al-Assad,3250,SY
42,THA,Thailand,Asia,Southeast Asia,513115.0,1350.0,61399000,68.6,116416.0,153907.0,Prathet Thai,Constitutional Monarchy,Bhumibol Adulyadej,3320,TH
43,TJK,Tajikistan,Asia,Southern and Central Asia,143100.0,1991.0,6188000,64.1,1990.0,1056.0,Toçikiston,Republic,Emomali Rahmonov,3261,TJ
44,TKM,Turkmenistan,Asia,Southern and Central Asia,488100.0,1991.0,4459000,60.9,4397.0,2000.0,Türkmenostan,Republic,Saparmurad Nijazov,3419,TM
45,TMP,East Timor,Asia,Southeast Asia,14874.0,NaN,885000,46.0,0.0,NaN,Timor Timur,Administrated by the UN,José Alexandre Gusmão,1522,TP
46,TUR,Turkey,Asia,Middle East,774815.0,1923.0,66591000,71.0,210721.0,189122.0,Türkiye,Republic,Ahmet Necdet Sezer,3358,TR
47,TWN,Taiwan,Asia,Eastern Asia,36188.0,1945.0,22256000,76.4,256254.0,263451.0,T’ai-wan,Republic,Chen Shui-bian,3263,TW
48,UZB,Uzbekistan,Asia,Southern and Central Asia,447400.0,1991.0,24318000,63.7,14194.0,21300.0,Uzbekiston,Republic,Islam Karimov,3503,UZ
49,VNM,Vietnam,Asia,Southeast Asia,331689.0,1945.0,79832000,69.3,21929.0,22834.0,Viêt Nam,Socialistic Republic,Trân Duc Luong,3770,VN
50,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780,YE

In [45]:
pd.read_sql_query("select * from countrylanguage " , conn )

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\613687811.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * from countrylanguage " , conn )

    CountryCode    Language IsOfficial  Percentage
0           ABW       Dutch          T         5.3
1           ABW     English          F         9.5
2           ABW  Papiamento          F        76.7
3           ABW     Spanish          F         7.4
4           AFG     Balochi          F         0.9
..          ...         ...        ...         ...
979         ZMB      Tongan          F        11.0
980         ZWE     English          T         2.2
981         ZWE     Ndebele          F        16.2
982         ZWE      Nyanja          F         2.2
983         ZWE       Shona          F        72.1

[984 rows x 4 columns]

In [46]:
pd.read_sql_query("select * from countrylanguage WHERE Language = 'Saraiki' " , conn )

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\2842006388.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * from countrylanguage WHERE Language = 'Saraiki' " , conn )

  CountryCode Language IsOfficial  Percentage
0         PAK  Saraiki          F         9.8

In [47]:
pd.read_sql_query("select * from countrylanguage WHERE Language != 'Saraiki' " , conn )

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\2161714891.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * from countrylanguage WHERE Language != 'Saraiki' " , conn )

    CountryCode    Language IsOfficial  Percentage
0           ABW       Dutch          T         5.3
1           ABW     English          F         9.5
2           ABW  Papiamento          F        76.7
3           ABW     Spanish          F         7.4
4           AFG     Balochi          F         0.9
..          ...         ...        ...         ...
978         ZMB      Tongan          F        11.0
979         ZWE     English          T         2.2
980         ZWE     Ndebele          F        16.2
981         ZWE      Nyanja          F         2.2
982         ZWE       Shona          F        72.1

[983 rows x 4 columns]

In [48]:
pd.read_sql_query("select * from countrylanguage WHERE Percentage >= 15 " , conn )

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\1414939110.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * from countrylanguage WHERE Percentage >= 15 " , conn )

    CountryCode    Language IsOfficial  Percentage
0           ABW  Papiamento          F        76.7
1           AFG        Dari          T        32.1
2           AFG      Pashto          T        52.4
3           AGO      Mbundu          F        21.6
4           AGO   Ovimbundu          F        37.2
..          ...         ...        ...         ...
283         ZAF       Xhosa          T        17.7
284         ZAF        Zulu          T        22.7
285         ZMB       Bemba          F        29.7
286         ZWE     Ndebele          F        16.2
287         ZWE       Shona          F        72.1

[288 rows x 4 columns]

In [49]:
pd.read_sql_query("select * from countrylanguage WHERE Percentage <= 1 " , conn )

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\2650757806.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * from countrylanguage WHERE Percentage <= 1 " , conn )

    CountryCode    Language IsOfficial  Percentage
0           AFG     Balochi          F         0.9
1           AIA     English          T         0.0
2           ALB  Macedonian          F         0.1
3           ANT       Dutch          T         0.0
4           ARE       Hindi          F         0.0
..          ...         ...        ...         ...
226         WLF      Wallis          F         0.0
227         WSM     English          T         0.6
228         YEM     Soqutri          F         0.0
229         YUG  Macedonian          F         0.5
230         YUG      Slovak          F         0.7

[231 rows x 4 columns]

In [51]:
pd.read_sql_query("select * from countrylanguage WHERE Percentage = 0.1 " , conn )

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\3187501094.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * from countrylanguage WHERE Percentage = 0.1 " , conn )

   CountryCode              Language IsOfficial  Percentage
0          ALB            Macedonian          F         0.1
1          BGD                  Garo          F         0.1
2          BGD                 Khasi          F         0.1
3          BGD              Santhali          F         0.1
4          BGD               Tripuri          F         0.1
5          BOL               Guaraní          F         0.1
6          CAN      Eskimo Languages          F         0.1
7          COL              Arawakan          F         0.1
8          COL             Caribbean          F         0.1
9          COL        Creole English          F         0.1
10         GBR                 Gaeli          F         0.1
11         HUN              Romanian          F         0.1
12         HUN                Slovak          F         0.1
13         JPN               English          F         0.1
14         JPN  Philippene Languages          F         0.1
15         KOR               Chinese          F         0.1
16         PRK               Chinese          F         0.1
17         ROM        Serbo-Croatian          F         0.1
18         UKR                Polish          F         0.1
19         VEN                Warrau          F         0.1

# parameters practice 



below are the few important parameters

In [54]:
pd.read_sql_query("select * From city  " , conn )

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\3250842279.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * From city  " , conn )

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [57]:
pd.read_sql_query("select * from city " , conn , index_col = 'ID' )

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\3923141656.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * from city " , conn , index_col = 'ID' )

                Name CountryCode       District  Population
ID
1              Kabul         AFG          Kabol     1780000
2           Qandahar         AFG       Qandahar      237500
3              Herat         AFG          Herat      186800
4     Mazar-e-Sharif         AFG          Balkh      127800
5          Amsterdam         NLD  Noord-Holland      731200
...              ...         ...            ...         ...
4075      Khan Yunis         PSE     Khan Yunis      123175
4076          Hebron         PSE         Hebron      119401
4077        Jabaliya         PSE     North Gaza      113901
4078          Nablus         PSE         Nablus      100231
4079           Rafah         PSE          Rafah       92020

[4079 rows x 4 columns]

In [58]:
pd.read_sql_query("select * from city " , conn , parse_dates = ['order_dates'])

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\123755697.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * from city " , conn , parse_dates = ['order_dates'])

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [64]:
chunks = pd.read_sql_query("select * from city " , conn , chunksize = 1000)

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\2935748281.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  chunks = pd.read_sql_query("select * from city " , conn , chunksize = 1000)

In [67]:
for chunk in chunks:
    print(chunk.shape)

(1000, 5)
(1000, 5)
(79, 5)

In [74]:
chunks = pd.read_sql_query('select * from city ' , conn , chunksize = 500 )

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\1591574747.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  chunks = pd.read_sql_query('select * from city ' , conn , chunksize = 500 )

In [75]:
for chunk in chunks:
    print('chunks shape is  ' , chunk.shape)

chunks shape is   (500, 5)
chunks shape is   (500, 5)
chunks shape is   (500, 5)
chunks shape is   (500, 5)
chunks shape is   (500, 5)
chunks shape is   (500, 5)
chunks shape is   (500, 5)
chunks shape is   (500, 5)
chunks shape is   (79, 5)

In [81]:
pd.read_sql_query('select ID , Population from city ' , conn , dtype={ 'ID' : int , 'Population' : float })

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\1893629858.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query('select ID , Population from city ' , conn , dtype={ 'ID' : int , 'Population' : float })

        ID  Population
0        1   1780000.0
1        2    237500.0
2        3    186800.0
3        4    127800.0
4        5    731200.0
...    ...         ...
4074  4075    123175.0
4075  4076    119401.0
4076  4077    113901.0
4077  4078    100231.0
4078  4079     92020.0

[4079 rows x 2 columns]

In [82]:
pd.read_sql_query('select ID , Population from city ' , conn , dtype={ 'ID' : int , 'Population' : int })

C:\Users\engrf\AppData\Local\Temp\ipykernel_11464\498951842.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query('select ID , Population from city ' , conn , dtype={ 'ID' : int , 'Population' : int })

        ID  Population
0        1     1780000
1        2      237500
2        3      186800
3        4      127800
4        5      731200
...    ...         ...
4074  4075      123175
4075  4076      119401
4076  4077      113901
4077  4078      100231
4078  4079       92020

[4079 rows x 2 columns]